body{
    background-color:#0f172a;
    color:white;
    font-family:Arial;
    margin:0;
    padding:0;
}

.container{
    max-width:800px;
    margin:auto;
    padding:40px;
    text-align:center;
}

.titulo{
    font-size:50px;
}

.subtitulo{
    font-size:20px;
    color:#94a3b8;
}

.texto{
    line-height:1.8;
}

.linea{
    margin:40px 0;
    border:1px solid #1e293b;
}

.tecnologias{
    margin-top:20px;
}

.tecnologia{
    background:#1e293b;
    padding:10px 20px;
    border-radius:20px;
    margin:5px;
    display:inline-block;
}

.proyecto{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}

.botones{
    margin-top:30px;
}

.boton{
    background:#38bdf8;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:10px;
    margin:10px;
    display:inline-block;
    transition:0.3s;
}

.boton:hover{
    background:#0ea5e9;
    transform:scale(1.05);
}

.boton-secundario{
    background:#1e293b;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:10px;
    margin:10px;
    display:inline-block;
    transition:0.3s;
}

.boton-secundario:hover{
    background:#334155;
    transform:scale(1.05);
}